@import url('https://fonts.googleapis.com/css?family=Roboto:500,700')

html, body
	width: 100%
	height: 100%
	padding: 0
	margin: 0

.map_container
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	height: 100%

#map
	display: block
	width: 100%
	height: 100%
	max-width: 100%
	max-height: 100%

.info_title
	padding: 0.5em 0
	font-weight: bold

.info_cat
	color: #3399ff
	text-decoration: underline
	cursor: pointer

	&:hover, &:focus
		color: #0066cc

.distance
	padding: 0.5em 0
	font-weight: bold

.custom_ui
	min-width: 85px
	margin: 10px

.custom_ui_button
	position: relative
	box-sizing: border-box
	background-color: #fff
	border-radius: 2px
	text-align: left
	cursor: pointer
	z-index: 0

.arrow_img
	position: absolute
	top: 50%
	right: 6px
	width: 7px
	height: 4px
	padding: 0px
	border: 0px
	margin: -2px 0px 0px
	user-select: none

.filter_ui
	position: relative
	padding: 10px
	background-color: rgb(255, 255, 255)
	color: #333
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px
	font-size: 11px
	font-weight: 700
	border-radius: 2px
	user-select: none

	@media screen and (min-width: 480px)
		padding: 8px

#filter_checkbox
	display: none
	position: absolute
	top: 50%
	right: 20px
	bottom: 50%
	width: 15px
	height: 15px
	margin: auto

.filter_term
	position: relative
	padding: 8px
	list-style: none

.hover_darken

	&:hover, &:focus
		background-color: rgb(235, 235, 235)

#filter_options
	display: none
	padding: 0
	margin: 0
	list-style: none
	cursor: default
	z-index: 0

.filter_tax
	padding: 8px

.checked
	background-color: rgb(235, 235, 235)
	color: #2fac49

.filter_tax_name
	font-size: 1.1em
	font-style: italic
	text-decoration: underline