@import url('https://fonts.googleapis.com/css?family=Roboto:500,700')

html, body
	width: 100%
	height: 100%
	padding: 0
	margin: 0

.map_container
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	height: 100%

#map
	display: block
	width: 100%
	height: 100%
	max-width: 100%
	max-height: 100%

.info_title
	padding: 0.5em 0
	font-weight: bold

.info_cat
	color: #3399ff
	text-decoration: underline
	cursor: pointer

	&:hover, &:focus
		color: #0066cc

.distance
	padding: 0.5em 0
	font-weight: bold

.custom_ui
	margin: 10px
	min-width: 85px
	height: 100%
	pointer-events: none

.custom_ui_button
	position: relative
	height: 90%
	box-sizing: border-box
	border-radius: 2px
	text-align: left
	cursor: pointer
	z-index: 0

.arrow_img
	position: absolute
	top: 50%
	right: 6px
	width: 7px
	height: 4px
	padding: 0px
	border: 0px
	margin: -2px 0px 0px
	user-select: none

.filter_ui
	position: relative
	margin: 0
	padding: 8px 17px
	background-color: rgb(255, 255, 255)
	color: #333
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px
	font-size: 18px
	font-weight: 500
	border-radius: 2px
	user-select: none
	list-style: none
	cursor: pointer
	pointer-events: all
	z-index: 0

.filtered
	padding: 8px 45px 8px 17px

.filter_ui_container
	max-height: 100%
	overflow-y: auto
	pointer-events: all

#filter_checkbox
	display: none
	position: absolute
	top: 50%
	right: 20px
	bottom: 50%
	width: 15px
	height: 15px
	margin: auto

.filter_term
	position: relative
	padding: 8px
	list-style: none

.hover_darken

	&:hover, &:focus
		background-color: rgb(235, 235, 235)

#filter_options
	display: none

.filter_tax
	padding: 8px

.checked
	background-color: rgb(235, 235, 235)
	color: #2fac49

.filter_tax_name
	font-size: 1.1em
	font-style: italic
	text-decoration: underline


.infoBox
	width: 280px !important

	@media screen and (min-width: 480px)
		width: 400px !important

.info_box_container
	display: block
	position: relative
	bottom: 65px
	left: -50%
	font-size: 13px
	box-shadow: 0px 0px 8px #333

.info_box_position
	display: block
	padding: 0
	bottom: 10px
	margin-top: 8px
	background: rgba(255, 255, 255, 0.9)

.feature_image
	width: 280px
	height: 140px
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	@media screen and (min-width: 480px)
		width: 400px
		height: 280px

.info_box
	border: 1px solid #ddd
	padding: 10px

.info_title
	font-size: 20px

.info_pointer
	border-top-width: 24px
	position: absolute
	left: -10px
	bottom: 65px
	z-index: 10

.info_pointer_left
	position: absolute
	overflow: hidden
	left: -6px
	top: -1px
	width: 16px
	height: 30px

	div
		position: absolute
		left: 6px
		background-color: rgba(255, 255, 255, 0.95)
		transform: skewX(22.6deg)
		transform-origin: 0px 0px 0px; height: 24px
		width: 10px
		box-shadow: 0px 0px 8px #333

.info_pointer_right
	position: absolute
	overflow: hidden
	top: -1px
	left: 10px
	width: 16px
	height: 30px

	div
		position: absolute
		left: 0px
		background-color: rgba(255, 255, 255, 0.95)
		transform: skewX(-22.6deg)
		transform-origin: 10px 0px 0px
		height: 24px
		width: 10px
		box-shadow: 0px 0px 8px #333
